<mat-toolbar color="primary" class="app-header">
    <div class="header-text">{{title}}</div>
</mat-toolbar>
<app-sign-up (submitEmitter)="onSubmit()"></app-sign-up>
<app-sign-up-list [submitted]="submitted"></app-sign-up-list>