<div class="container mergetop">
    <div [hidden]="submitted">
      <h1 class="header-text">Sign Up</h1>
      <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control input-Length" id="firstname" required
                   [(ngModel)]="model.firstname" name="firstname" 
                   #firstname="ngModel">
            <div [hidden]="firstname.valid || firstname.pristine"
                 class="alert alert-danger">
              First name is required
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control input-Length" id="lastname"
                   required
                   [(ngModel)]="model.lastname" name="lastname"
                   #lastname="ngModel">
            <div [hidden]="lastname.valid || lastname.pristine"
                 class="alert alert-danger">
              Last name is required
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control input-Length" id="email"
                   required email="true"
                   [(ngModel)]="model.email" name="email"
                   #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
              Please provide a valid email address
            </div>
        </div>
        <div class="form-group">
            <label for="activity">Activity</label>
            <input type="text" class="form-control input-Length" id="activity"
                   required
                   [(ngModel)]="model.activity" name="activity"
                   #activity="ngModel">
            <div [hidden]="activity.valid || activity.pristine"
                 class="alert alert-danger">
                 Activity is required
            </div>
        </div>
        <div class="form-group">
          <label for="comment">Comments</label>
          <textarea type="text" class="form-control" id="comment"
                 [(ngModel)]="model.comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!signUpForm.form.valid">Submit</button>
      </form>
    </div>
</div> 
    
  
  
 
  
   